/** @format */

@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;400;500&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: fira sans;
}
body {
  background-color: #f5f5f5;
}

/* Shared Style */
/* Pillars Section */
.pillar-head {
  font-weight: 700;
  font-size: 20px;
  color: hsla(0, 0%, 5%, 0.8);
}
.pillars-head {
  text-align: justify;
  margin-top: 12px;
  color: hsla(0, 0%, 5%, 0.8);
  font-weight: 700;
  font-size: 20px;
}
.pillar-text {
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 160px;
}
.logo {
  font-weight: 700;
  font-size: 32px;
  color: rgb(14, 14, 14);
}
.sign-in-btn {
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}
.sign-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: rgb(0, 106, 80);
  background-color: white;
}

.banner {
  margin: 0 auto;
  width: 77%;
  height: 100vh;
}

.banner-container {
  display: flex;
  justify-content: center;
  background-color: hsla(152, 35%, 83%, 1);
  padding: 80px 100px;
  border: 2px solid hsla(152, 35%, 83%, 1);
  border-radius: 8px;
  gap: 100px;
}
.banner-title {
  font-size: 24px;
  font-weight: 600;
  color: hsla(0, 0%, 5%, 0.5);
}
.banner-text {
  margin-top: 18px;
  font-weight: 700;
  font-size: 56px;
  color: hsla(0, 0%, 5%, 1);
  text-align: left;
}
.banner-img {
  text-align: right;
}
.banner-btn {
  margin-top: 18px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 34px;
  background-color: hsla(165, 100%, 21%, 1);
  border: none;
  border-radius: 8px;
  color: hsla(0, 0%, 101%, 1);
}

/* Pillars section start */

.pillars {
  margin: 0 auto;
  width: 77%;
}
.pillar-head {
  text-align: start;
  margin: 0 auto;
  width: 77%;
  margin-top: 20px;
  color: hsla(0, 0%, 5%, 1);
}

.pillar-contents {
  /* width: 100%; */
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.pillar1,
.pillar2,
.pillar3,
.pillar4 {
  padding: 24px;
  box-shadow: 0 3px 0px rgb(0 0 0 / 0.1);
  background-color: #f5f5f5;
  border: 2px solid (0, 0%, 5%, 0.7);
  border-radius: 8px;
}

/* The Vision of Future Part Start */

.vision {
  margin: 0 auto;
  width: 77%;
}
.vision-main-head {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}
.vision-main-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: hsla(0, 0%, 5%, 0.7);
}
.vision-boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vision-box1 {
  background-color: hsla(217, 88%, 65%, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.vision-box2 {
  background-color: hsla(152, 35%, 83%, 1);
  padding: 32px;
  border-radius: 16px;
}
.vision-box3 {
  background-color: hsla(41, 71%, 89%, 1);
  padding: 32px;
  border-radius: 16px;
}
/* Shared for vision */
.vision-head {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  color: hsla(0, 0%, 5%, 0.8);
}
.vision-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
.vision-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  color: white;
  border-radius: 8px;
  border: none;
  /* color: hsla(0, 0%, 101%, 1); */
}

/* Special Quote Part Start */
.quote {
  margin: 0 auto;
  width: 77%;
  margin-top: 30px;
  padding: 48px, 24px, 48px, 24px;
  border-radius: 16px;
  background-color: white;
}

.quote-text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.8);
}
.quote-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
/* Opinion Part Start */
.opinion {
  margin: 0 auto;
  width: 77%;
  margin-top: 80px;
  /* background-color: white; */
}
.opinion-header {
  font-weight: 700;
  font-size: 40px;
}
.Opinion-data {
  margin: 0 auto;
  background-color: white;
}
/* Opinion Part End */
.opinion-section {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
.opinion-que {
  border: 1px solid gray;
}
table {
  width: 100%;
}
.main-opinion {
  padding: 32px, 32px, 32px, 32px;
  margin-top: 20px;
}

thead {
  background-color: hsla(152, 35%, 83%, 1);
  padding: 24px, 24px, 24px, 24px;
  height: 72px;
}
.th-text {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  border: 1px solid hsla(0, 0%, 101%, 0.1);
  padding: 10px;
}

td {
  font-weight: 600;
  font-size: 16px;
  padding: 24px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: hsla(152, 35%, 83%, 1);
}
select {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 14px;
  color: hsla(0, 0%, 5%, 1);
}

/* Opinion Part ENDS */

/* Recent News Start */
.News {
  margin: 0 auto;
  width: 77%;
}
.News-header {
  margin-top: 20px;
  font-weight: 700;
  font-family: 40px;
  color: hsla(0, 0%, 5%, 1);
}
.News-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
/* Recent News End */
.news-boxes {
  margin: 0 auto;
  width: 77%;
}
.box1,
.box2,
.box3 {
  margin-top: 15px;
  border-radius: 24px;
  padding: 48px;
  background-color: hsla(0, 0%, 101%, 1);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);

  display: flex;
  gap: 30px;
}
.box-img {
  
  width: 408px;
  height: 306px;
  margin-top: 48px;
  margin-left: 48px;
}
.box-text {
  margin-top: 48px;
}
.box-header {
  font-weight: 700;
  font-family: 32px;
  color: hsla(0, 0%, 5%, 0.8);
  /* margin-top: 15px; */
}
.box-time {
  margin-top: 5px;
  display: flex;
  font-weight: 400;
  font-family: 14px;
  text-align: left;
  color: hsla(0, 0%, 5%, 0.7);
}
.box-description {
  color: hsla(0, 0%, 5%, 0.7);
  font-weight: 400;
  font-family: 16px;
  margin-top: 10px;
}
.box-btn {
  font-weight: 600;
  font-size: 18px;
  color: hsla(0, 0%, 101%, 1);
  background-color: hsla(165, 100%, 21%, 1);
  border-radius: 8px;
  padding: 13px 26px;
  border: none;
  margin-top: 50px;
}

.Donate {
  margin-top: 50px;
}
.Donate-header {
  text-align: center;
}
.donate-head {
  font-weight: 700;
  font-size: 40px;
  color: hsla(0, 0%, 5%, 1);
}
.donate-text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
.donate-boxes {
  display: flex;
  gap: 30px;
}
.donate-box1 {
  font-weight: 700;
  font-size: 40px;
  color: hsla(0, 0%, 5%, 0.8);
  border-radius: 16px;
  margin-top: 15px;
  border-radius: 24px;
  padding: 48px;
  background-color: white;
  display: flex;
  gap: 30px;
}

.text-line {
  margin-top: 32px;
  margin-left: 124px;
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  border: none;
  background-color: wheat;
}

.donate-btn {
  text-align: center;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  background-color: hsla(165, 100%, 21%, 1);
  color: hsla(0, 0%, 101%, 1);
  margin-left: 510px;
  margin-top: 32px;
}
.Newsletter {
  width: 1280px;
  height: 395px;
  background-color: hsla(152, 35%, 83%, 1);
  padding: 80px, 100px, 80px, 100px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}
.main-letter {
  margin-top: 80x;
  text-align: center;
  padding: 18px 40px;
}
.main-head-newsletter {
  margin-top: 60px;
}
.header-newsletter {
  font-family: 40px;
  font-weight: 700;
  color: hsla(0, 0%, 5%, 1);
}
.text-newsletter {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
.newsletter-input {
  display: flex;
}
.letter-input {
  margin-top: 22px;
  margin-left: 200px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 18px, 40px, 18px, 40px;
  width: 600px;
  height: 55px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.subscribe-btn {
  /* text-align: start; */
  padding: 17px 34px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  background-color: hsla(165, 100%, 21%, 1);
  color: hsla(0, 0%, 101%, 1);
  margin-top: 22px;
}

.spam-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
.foot {
  margin-top: 32px;
  height: 226px;
  width: 1600px;
  padding: 50px, 160px, 50px, 160px;
  background-color: hsla(0, 0%, 101%, 1);
}
.foot-contents {
  text-align: center;
}
.foot-head {
  font-weight: 700;
  font-size: 32px;
  margin-left: 0 auto;
}
.foot-tags {
  margin-bottom: 12px;
}
