/** @format */

@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;400;500&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: fira sans;
}
.body {
  background-color: #f5f5f5;
}

/* Shared Style */
/* Pillars Section */
.pillar-head {
  font-weight: 700;
  font-size: 20px;
  color: hsla(0, 0%, 5%, 0.8);
}
.pillars-head {
  text-align: justify;
  margin-top: 12px;
  color: hsla(0, 0%, 5%, 0.8);
  font-weight: 700;
  font-size: 20px;
}
.pillar-text {
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 160px;
}
.logo {
  font-weight: 700;
  font-size: 32px;
  color: rgb(14, 14, 14);
}
.sign-in-btn {
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}
.sign-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  color: rgb(0, 106, 80);
  background-color: white;
}

.banner {
  margin: 0 auto;
  width: 77%;
  height: 100vh;
}

.banner-container {
  display: flex;
  justify-content: center;
  background-color: hsla(152, 35%, 83%, 1);
  padding: 80px 100px;
  border: 2px solid hsla(152, 35%, 83%, 1);
  border-radius: 8px;
  gap: 100px;
}
.banner-title {
  font-size: 24px;
  font-weight: 600;
  color: hsla(0, 0%, 5%, 0.5);
}
.banner-text {
  margin-top: 18px;
  font-weight: 700;
  font-size: 56px;
  color: hsla(0, 0%, 5%, 1);
  text-align: left;
}
.banner-img {
  text-align: right;
}
.banner-btn {
  margin-top: 18px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 34px;
  background-color: hsla(165, 100%, 21%, 1);
  border: none;
  border-radius: 8px;
  color: hsla(0, 0%, 101%, 1);
}

/* Pillars section start */

.pillars {
  margin: 0 auto;
  width: 77%;
}
.pillar-head {
  text-align: start;
  margin: 0 auto;
  width: 77%;
  margin-top: 20px;
  color: hsla(0, 0%, 5%, 1);
}

.pillar-contents {
  width: 100%;
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;
  border: 2px solid (0, 0%, 5%, 0.15);
  border-radius: 8px;
}
.pillar1,
.pillar2,
.pillar3,
.pillar4 {
  padding: 24px;
  box-shadow: 2px 2px 2px #888888;
}

/* The Vision of Future Part Start */

.vision {
  margin: 0 auto;
  width: 77%;
}
.vision-main-head {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}
.vision-main-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: hsla(0, 0%, 5%, 0.7);
}
.vision-boxes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vision-box1 {
  background-color: hsla(217, 88%, 65%, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.vision-box2 {
  background-color: hsla(152, 35%, 83%, 1);
  padding: 32px;
  border-radius: 16px;
}
.vision-box3 {
  background-color: hsla(41, 71%, 89%, 1);
  padding: 32px;
  border-radius: 16px;
}
/* Shared for vision */
.vision-head {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  color: hsla(0, 0%, 5%, 0.8);
}
.vision-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.7);
}
.vision-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  color: white;
  border-radius: 8px;
  border: none;
  /* color: hsla(0, 0%, 101%, 1); */
}

/* Special Quote Part Start */
.quote {
  margin: 0 auto;
  width: 77%;
  margin-top: 30px;
  padding: 48px, 24px, 48px, 24px;
  border-radius: 16px;
  background-color: yellowgreen;
}

.quote-text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 5%, 0.8);
}
.quote-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
